@{ 
    ViewData["Title"] = "Добавление документа"; 
} 

<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <h2>Добавление документа</h2>
            <hr />
            
            <div class="form-floating">
                <input name="fileName" type="text" class="form-control" required pattern='[^"]+' />

                <label>Название</label>
            </div>

            <br />

            <div>
                <input type="file" name="file" multiple required/>
                <br />
            </div>

            <br />
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    </div>
</div>