@model IEnumerable<CompanyDocument>

@{
    ViewData["Title"] = "Документы";
}

<h1>Законы</h1>
<p>
    <a asp-action="AddDocument">Добавить документ</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>Название</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    <a class="btn btn-sm btn-danger" asp-action="DeleteDocument" asp-route-Id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>