@{
    ViewData["Title"] = "Станица разработчика";
}

<h1>Станица разработчика</h1>

<a asp-action="Documents">Документы</a> <br />
<a asp-action="Types">Типы законов</a> <br />
<a asp-action="Users">Пользователи</a> <br />
<a asp-action="Roles">Роли</a>